@import url('http://fonts.googleapis.com/css?family=Raleway');

p {
    font-family: 'Raleway';
    font-size: 1.25em;
}


main.bd-content #main-content h2, main.bd-content #main-content h3{
    color: rgb(50, 30, 100);
}


thebe-launch-button {
    onclick: "initThebe()"
]
